openapi: 3.1.0
info:
  title: GovWait API
  version: "1.0.0"
  summary: Officially published government processing times, tracked with provenance and history.
  description: |
    Static, prebuilt JSON served from a CDN. No authentication, no rate-limit headers
    (be polite anyway). Every value is an official government publication with
    source URL, the agency's own update date when supplied (otherwise the
    first-observed date), and our retrieval timestamp.
    GovWait's original organization, field definitions and explanatory metadata
    are available under CC BY 4.0 where GovWait owns the rights. Underlying
    government information is not relicensed by GovWait. Attribute the originating
    agency and follow the source-specific terms at /data-license/.
  license:
    name: GovWait data reuse and licensing notice
    url: https://govwait.com/data-license/
servers:
  - url: https://govwait.com
    description: Production host.
paths:
  /api/v1/index.json:
    get:
      operationId: getIndex
      summary: Dataset stats, sources, and links to all collections
      responses:
        "200":
          description: Index document
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Index" }
  /api/v1/dataset.json:
    get:
      operationId: getDatasetMetadata
      summary: Dataset counts, CSV distributions, columns, provenance, and reuse notice
      responses:
        "200":
          description: Dataset metadata document
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DatasetMetadata" }
  /api/v1/downloads/latest.csv:
    get:
      operationId: downloadLatestCsv
      summary: Download all currently active route metrics as CSV
      responses:
        "200":
          description: Current route CSV
          content:
            text/csv:
              schema: { type: string }
  /api/v1/downloads/history.csv:
    get:
      operationId: downloadHistoryCsv
      summary: Download append-only observation history as CSV
      responses:
        "200":
          description: Observation history CSV
          content:
            text/csv:
              schema: { type: string }
  /api/v1/downloads/forward-looking.csv:
    get:
      operationId: downloadForwardLookingCsv
      summary: Download IRCC projections and application-month cohort rows as CSV
      responses:
        "200":
          description: Forward-looking projection CSV
          content:
            text/csv:
              schema: { type: string }
  /api/v1/downloads/sources.csv:
    get:
      operationId: downloadSourcesCsv
      summary: Download the primary-source and reuse-note register as CSV
      responses:
        "200":
          description: Source register CSV
          content:
            text/csv:
              schema: { type: string }
  /api/v1/ircc-forward-looking.json:
    get:
      operationId: getIrccForwardLooking
      summary: All IRCC forward-looking programs, current queue estimates, and application-month cohorts
      description: Cohort months are the months applications were submitted within an IRCC snapshot. They are not historical publication dates.
      responses:
        "200":
          description: IRCC forward-looking collection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ForwardCollection" }
  /api/v1/jurisdictions/{code}.json:
    get:
      operationId: getJurisdiction
      summary: All routes for one government (e.g. ca, gb, nz, no) with latest values
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, pattern: "^[a-z]{2}$" }
      responses:
        "200":
          description: Jurisdiction collection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/JurisdictionCollection" }
        "404": { description: Unknown jurisdiction }
  /api/v1/services/{service_key}.json:
    get:
      operationId: getService
      summary: One service across all applicant countries (e.g. ca-visitor-visa)
      parameters:
        - name: service_key
          in: path
          required: true
          schema: { type: string, pattern: "^[a-z0-9-]+$" }
      responses:
        "200":
          description: Service collection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ServiceCollection" }
        "404": { description: Unknown service }
  /api/v1/entities/{entity_id}.json:
    get:
      operationId: getEntity
      summary: "One route: latest value plus full recorded history"
      parameters:
        - name: entity_id
          in: path
          required: true
          schema: { type: string, pattern: "^[a-z0-9-]+(--(?:[a-z]{2}|p(?:50|80)))?$" }
      responses:
        "200":
          description: Entity document
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Entity" }
        "404": { description: Unknown entity }
components:
  schemas:
    Distribution:
      type: object
      required: [title, description, path, format, media_type, row_count, columns]
      properties:
        title: { type: string }
        description: { type: string }
        path: { type: string, pattern: "^/api/v1/downloads/[a-z-]+\\.csv$" }
        format: { type: string, const: CSV }
        media_type: { type: string, const: text/csv }
        row_count: { type: integer, minimum: 0 }
        columns: { type: array, minItems: 1, items: { type: string } }
    DatasetMetadata:
      type: object
      required: [name, description, version, date_published, date_modified, generated_at, landing_page, stats, distributions, sources, reuse]
      properties:
        name: { type: string }
        description: { type: string }
        version: { type: string }
        date_published: { type: string, format: date }
        date_modified: { type: string, format: date }
        generated_at: { type: string }
        landing_page: { type: string, format: uri }
        stats: { type: object }
        distributions:
          type: array
          minItems: 4
          items: { $ref: "#/components/schemas/Distribution" }
        sources:
          type: array
          items: { type: object }
        reuse:
          type: object
          required: [notice, details]
          properties:
            notice: { type: string }
            details: { type: string, format: uri }
    Observation:
      type: object
      required: [value_raw, value_days, unit_original, status, effective_date, retrieved_at, source_url]
      properties:
        value_raw: { type: string, description: "Verbatim official string, e.g. '31 days'" }
        value_days: { type: [number, "null"], description: "Numeric duration. Calendar units are normalized to days (weeks x7, months x30.44). Official working-day figures preserve their working-day count; see unit_original. For a published range, this field uses the upper end while value_raw preserves the complete range. Null when no time is published." }
        unit_original: { type: [string, "null"], enum: [minutes, hours, days, weeks, months, years, working days, null] }
        status: { type: string, enum: [ok, unavailable, insufficient_data] }
        effective_date: { type: string, format: date, description: "The agency's own last-updated date when supplied; otherwise the date GovWait first observed this changed value" }
        retrieved_at: { type: string, description: "When we fetched it (ISO 8601)" }
        source_url: { type: string, format: uri }
        confidence: { type: string, enum: [official] }
    RecordCore:
      type: object
      required: [entity_id, jurisdiction, service_key, service_name, metric_type, latest]
      properties:
        entity_id: { type: string }
        jurisdiction: { type: string, description: "ISO 3166-1 alpha-2 of the government" }
        service_key: { type: string }
        service_name: { type: string }
        service_category: { type: string, enum: [visa, permit, sponsorship, refugee, settlement, passport] }
        metric_type: { type: string, enum: [published, backward, forward, service_standard, percentile], description: "How to interpret the published measure. Forward projections must not be mixed with backward-looking recent-case statistics." }
        applicant_country: { type: [string, "null"], description: "ISO 3166-1 alpha-2; null for global service standards" }
        applicant_country_name: { type: [string, "null"] }
        latest: { $ref: "#/components/schemas/Observation" }
    Entity:
      allOf:
        - $ref: "#/components/schemas/RecordCore"
        - type: object
          required: [history]
          properties:
            history:
              type: array
              items: { $ref: "#/components/schemas/Observation" }
            forward_looking: { $ref: "#/components/schemas/ForwardDetail" }
            license: { type: string }
    ForwardValue:
      type: object
      required: [wait_raw, wait_days, unit_original, status, queue_raw, queue_people, confidence]
      properties:
        cohort_month: { type: string, format: date, description: "Application submission month; present only for already-applied cohort rows" }
        wait_raw: { type: string, description: "Verbatim IRCC estimate" }
        wait_days: { type: [number, "null"], description: "Normalized comparison value; qualifiers remain in wait_raw" }
        unit_original: { type: [string, "null"], enum: [days, weeks, months, years, null] }
        status: { type: string, enum: [ok, unavailable, insufficient_data] }
        queue_raw: { type: string, description: "Verbatim approximate IRCC queue wording" }
        queue_people: { type: integer, minimum: 1, description: "Approximate value or published upper threshold; consult queue_raw for the qualifier" }
        confidence: { type: string, enum: [official] }
    ForwardSnapshot:
      type: object
      required: [snapshot_date, retrieved_at, source_url, current, cohorts]
      properties:
        snapshot_date: { type: string, format: date, description: "IRCC's publication/update date for this projection snapshot" }
        retrieved_at: { type: string }
        source_url: { type: string, format: uri }
        current: { $ref: "#/components/schemas/ForwardValue" }
        cohorts:
          type: array
          items: { $ref: "#/components/schemas/ForwardValue" }
    ForwardDetail:
      type: object
      required: [snapshots]
      properties:
        snapshots:
          type: array
          items: { $ref: "#/components/schemas/ForwardSnapshot" }
    ForwardProgram:
      allOf:
        - $ref: "#/components/schemas/RecordCore"
        - type: object
          required: [forward_looking]
          properties:
            forward_looking: { $ref: "#/components/schemas/ForwardDetail" }
    ForwardCollection:
      type: object
      required: [name, description, generated_at, count, programs, license]
      properties:
        name: { type: string }
        description: { type: string }
        generated_at: { type: string }
        count: { type: integer }
        programs:
          type: array
          items: { $ref: "#/components/schemas/ForwardProgram" }
        license: { type: string }
    ServiceCollection:
      type: object
      required: [service_key, jurisdiction, count, records]
      properties:
        service_key: { type: string }
        service_name: { type: string }
        jurisdiction: { type: string }
        count: { type: integer }
        generated_at: { type: string }
        records:
          type: array
          items: { $ref: "#/components/schemas/RecordCore" }
        license: { type: string }
    JurisdictionCollection:
      type: object
      required: [jurisdiction, count, records]
      properties:
        jurisdiction: { type: string }
        count: { type: integer }
        generated_at: { type: string }
        services:
          type: array
          items: { type: string }
        records:
          type: array
          items: { $ref: "#/components/schemas/RecordCore" }
        license: { type: string }
    Index:
      type: object
      required: [name, generated_at, endpoints]
      properties:
        name: { type: string }
        description: { type: string }
        generated_at: { type: string }
        stats: { type: object }
        sources:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              agency: { type: string }
              jurisdiction: { type: string }
              url: { type: string, format: uri }
              license_note: { type: string }
        endpoints:
          type: object
          properties:
            jurisdictions: { type: array, items: { type: string } }
            services: { type: array, items: { type: string } }
            entity_pattern: { type: string }
            ircc_forward_looking: { type: string }
            dataset_metadata: { type: string }
            downloads: { type: array, items: { type: string } }
            openapi: { type: string }
        license: { type: string }
